.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease;
    margin: 0 10px;
}
.navbar a:hover {
    background-color: rgba(245, 208, 66, 0.8);
    color: white;
    font-weight: bold;
    text-shadow: none;
    transform: scale(1.05);
}
.navbar .left, .navbar .right {
    display: flex;
    align-items: center;
}
.navbar .left a:first-child {
    font-weight: bold;
    font-size: 1.7em;
}
.navbar .left a:first-child:hover {
    color: #F5D042;
    background-color: transparent;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 120px;
    border-radius: 5px;
    font-weight: normal;
}
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-weight: normal;
}
.dropdown-content a:hover {
    color: black;
    background-color: transparent;
    font: weight 300px;;
}
.right .fixed-bg {
    background-color: rgba(245, 208, 66, 0.8);
    color: white;
}